xml_ex6.xml

<!ELEMENT TEI (header, facsimile?, testo+) > <!-- TEI è la radice: l'elemento header ha 1 occorrenza obbligatoria, facsimile 1 occorrenza opzionale, testo almeno una occorrenza obbligatoria-->

<!--
<!ELEMENT header () >
<!ELEMENT facsimile () > -->

<!ELEMENT testo (#PCDATA | seg)* > <!--l'elemento testo è un mixed content con possibile elemento seg-->

<!ATTLIST header type CDATA #FIXED "intestazione" > <!--attributi di header-->
<!ATTLIST header lang NMTOKEN #IMPLIED > 

<!ATTLIST facsimile source #REQUIRED > <!--attributi di facsimile-->
<!ATTLIST facsimile ref IDREFS #IMPLIED >

<!ATTLIST testo id ID #REQUIRED > <!--attributi di testo-->
<!ATTLIST testo type CDATA #IMPLIED >

<!--due attributi dello stesso elemento vanno separati o insieme?-->
<!--inoltre a source di facsimile manca il TYPE-->